.auth-container {
    max-width: 400px;
   margin: 100px auto;
    padding: 20px;
    background-color: var(--card-bg);
   border-radius: 12px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
   text-align: center;
}

.auth-title {
     font-size: 2rem;
    margin-bottom: 20px;
    color: var(--text-primary);
}

.auth-text{
  color: var(--text-secondary);
  margin-bottom: 20px;
}

.auth-buttons {
  display: flex;
   justify-content: center;
    gap: 10px;
}
.auth-button{
    padding: 10px 20px;
   border: none;
    border-radius: 5px;
    cursor: pointer;
   background-color: var(--accent-purple);
   color: white;
    transition: background-color 0.3s;
}

.auth-button:hover {
    background-color: #583b9e;
}
.auth-button.register-button {
   background-color: #e9ecef;
   color: #333;
}

@media (max-width: 480px) {
   .auth-container{
       width: 95%;
   }
}